{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('product_list') }}
{% endblock %}

{% block body %}
<div id="app">
</div>
{% endblock %}

{% block modals %}
    <div id="app_modal_wrapper">
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        window.product_list_api = "{{ path('product_list_api') }}";
        window.product_add_api = "{{ path('product_add_api') }}";
        window.product_edit_api = "{{ path('product_edit_api') }}";
        window.product_remove_api = "{{ path('product_remove_api') }}";
        window.lang = "FR";
    </script>
    {{ encore_entry_script_tags('product_list') }}
{% endblock %}